{% extends 'base.html' %}

{% load static %}


{% block title %}Вход!{% endblock %}

{% block content %} 

<div class="container mt-3 text-warning mc_container">
    <div class="row">
        <div class="col">
          <h2 id='h2_03' class='text-dark fw-bold text-center'>Вход!</h2>
           {% if messages %}
             {% for message in messages %}
               {% if message.tags == 'success'%}  
                 <div class="alert alert-success" role='alert'>
                    {{ message }}
                 </div>
               {% endif %}
               {% if message.tags == 'error'%}
                 <div class="alert alert-danger" role='alert'>
                    {{ message }}  
                  </div>
               {% endif %}
             {% endfor%} 
           {% endif %}  
          <form action=""  method='post'>
              {% csrf_token %} 
              <div class="con">
                  {{ form.non_field.errors }}
               <div class="mb-3" style='width: 600px;'>
                  <label for="{{ form.username.id_for_label }}" class="form-label"><span class='fw-bold p'>Имя пользователя: </span></label>
                  <div class="form-group">
                     {{ form.username }}
                  </div>
                  <div class="invalid-feedback">
                      {{ form.username.errors }}
                  </div>
                </div>
                <hr class='hr23'>
                <div class="mb-3" style='width: 500px'>
                    <label for="{{ form.password.id_for_label }}"         class="form-label"><span class='fw-bold p'>Пароль: </span></label>
                 <div class="form-group">
                    {{ form.password }}
                 </div>
                 <div class="invalid-feedback">
                    {{ form.password.errors }}
                 </div>
                </div>
                <hr class='hr23'>
                <button type='submit' class="btn btn-outline-warning btn-block" id='button_cofe2'>Зарегистрироваться</button>
              <br>
              <br>
              </div>
          </form>
          <br>
          <br>
         <br>
          {% comment %} <form method='post'>
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form> {% endcomment %}
        </div>
    </div>
</div>


{% endblock %}